html, body {
  height: 100%;
  margin: 0;
}

.desktop {
  min-height: 100%;
  max-width: 100%;
  height: auto;
  background-color: black;
  background-image: url('goblin.jpg');
  background-position:50% 50%;  /* Sets reference point to scale from */
  background-size:cover;        /* Sets background image to cover entire element */
}


.desktop-version {
  position:absolute;
  bottom:0;
  right:0;
}
