@import "node_modules/material-ui/src/less/scaffolding.less";
@import "less/bootmat/material-wfont.less";
@import "node_modules/material-ui/src/less/components.less";

.xc-titlebar-actions {
  -webkit-app-region: no-drag;
  float: right;
  margin-right: -16px;
}

.xc-titlebar-bar {
  -webkit-app-region: drag;
}

.mui-app-bar-navigation-icon-button {
  -webkit-app-region: no-drag;
}
